body {
  background: #f9f8fe;
  margin-top: 60px;
}

.App .header {
text-align: center;
font-size: 50px;
font-weight: bold;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}

.App a {
  color: #9670f4;
}

.container {
  background-color: blue;
  border-radius: 20px;
  padding-top: 15px;
  
}


