body {
  background: url(https://www.toptal.com/designers/subtlepatterns/uploads/memphis-colorful.png) 50% repeat fixed;
  margin-top: 60px;
}

.App .header {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color:#94456ff0;
  }

.App-footer {
  text-align: center;
}

.App .footer-link {
  color: #94456ff0;
}

.App a {
  color: white;
  text-decoration: none;
}

.App a:hover {
  color:white;
}

.container {
  background-color: #ffe1cd;
  border-radius: 20px;
  padding: 30px 40px;
  max-width: 870px;
  margin-bottom: 60px;
  box-shadow: 10px 10px 15px rgba(0 0 0 /15%);
}


