.Phonetic {
    margin: 25px 0;
    text-align: center;
}

.Phonetic a {
    border: 1px solid #e7b3b3;
    background-color: #e7b3b3;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 12px;
    margin-right: 10px;
    font-weight: bold;
    text-decoration: none;
    transition: all 150ms ease-in-out;
}

.Phonetic a:hover {
    background-color: white;
    color:#e7b3b3!important;
}

.Phonetic .text {
    opacity: 0.5;
    font-weight: bold;
}